#buttonsArea #removerFiltro {
  color: red;
  cursor: pointer;
}
#buttonsArea #newData,
#buttonsArea #deleteData,
#buttonsArea #deleteDataEdit {
  display: none;
}
#buttonsArea .glyphicon-share-alt {
  transform: rotate(-180deg);
}
#dataTableContent {
  width: calc(100% + 15px);
}
#dataTableContent .dadosTable {
  text-align: center;
}
#dataTableContent .dadosTable th {
  text-align: center;
}
#dataTableContent .dadosTable tbody tr {
  cursor: pointer;
}
#dataTableContent .dadosTable tbody tr i {
  cursor: pointer;
}
#dataTableContent .dadosTable tbody tr .dado-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 25px;
  padding-top: 3px;
}
#dataTableContent .dadosTable tbody tr .dado-wrapper p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
#dataTableContent .table-responsive {
  overflow: auto;
  max-height: 80vh;
}
#dataTableContent .auto-crud-edit-data .form-box-edit {
  display: inline-table;
  margin-bottom: 15px;
}
#dataTableContent .auto-crud-edit-data .form-box-edit textarea {
  resize: vertical;
}
#dataTableContent .qq-upload-list li {
  cursor: move;
  position: relative;
}
#dataTableContent .qq-upload-list .file-order {
  position: absolute;
  top: 10px;
  left: 100px;
}
#dataTableContent .qq-upload-list .qq-thumbnail-selector {
  cursor: pointer;
}
.auto-crud-form-edit {
  margin-bottom: 15px;
}
.auto-crud-form-edit .edit-data-form textarea {
  text-align: justify;
}
.auto-crud-form-edit .edit-data-form #saveData {
  position: relative;
}
