.loginTitle {
  background-color: #31B404;
  background: -webkit-linear-gradient(to top, #31B404, #22630C);
  background: -o-linear-gradient(to top, #31B404, #22630C);
  background: -moz-linear-gradient(to top, #31B404, #22630C);
  background: linear-gradient(to top, #31B404, #22630C);
  border: 1px solid #090A49;
  color: white;
  text-align: center;
}
.boxLogin {
  padding: 15px;
  color: white;
  text-align: center;
  background-color: whitesmoke;
  background: -webkit-linear-gradient(to bottom, whitesmoke, #030696);
  background: -o-linear-gradient(to bottom, whitesmoke, #030696);
  background: -moz-linear-gradient(to bottom, whitesmoke, #030696);
  background: linear-gradient(to bottom, whitesmoke, #030696);
  border: 1px solid #030696;
  -webkit-box-shadow: -4px 7px 10px 0px rgba(9, 10, 73, 0.65);
  -moz-box-shadow: -4px 7px 10px 0px rgba(9, 10, 73, 0.65);
  box-shadow: -4px 7px 10px 0px rgba(9, 10, 73, 0.65);
}
.boxLogin input {
  margin: 10px 0;
}
